<%if @stocks.count > 0 %>
<table class="table table-condensed">  
  <tbody>
  <% @stocks.each do |stock| %>
    <tr>
        <td>
          <%= stock.store.name%>
          <%= stock.quantity %> <%= stock.product.measurement.name %>
        </td>
        <td><%= link_to t(:show), [:stocker,stock], :class => 'btn btn-small' %>
        </td>                                    
    </tr>
  <% end %>
  </tbody>
</table>
<%end %>
