<div class="span8">
  <%=render 'categories/list_with_keyword', :current_category_id => @category_id, :path => new_stocker_order_order_detail_path(@order) %>
  <div class="clear"></div>

  <% if @products.count > 0 %>
  <div>
    <% @products.each do |product| %>
	  <%= render 'product', :product => product %>
    <% end %>
  </div>
  <div class="clear"></div>

  <div>
			 <%= will_paginate @products %>
  </div>
  
  <div>
    <%= link_to t(:view_order), stocker_order_path(@order), :class => 'btn btn-primary' %>
  </div>
  <%end%>
</div> 