
  <p>
    <%= link_to t(:switches_admin), admin_switches_path, :class => 'btn btn-primary' %>
    <%= link_to t(:lookups_admin), admin_lookups_path, :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:events_maintain), admin_events_path, :class => 'btn btn-primary' %>
    <%= link_to t(:users_maintain), maintain_users_path, :class => 'btn btn-primary' %>
  </p>