<%unless @sale_details.nil? %>
<table class="table  table-striped"> 
  <tbody>
  <% @sale_details.each do |d| %>
    <tr>
        <td><%= d.product.name %></td>
        <td><%= d.quantity.to_s + d.product.measurement.name %> </td>
        <td><%= d.amount.to_s + t(:currency) %></td>                           
    </tr>
  <% end %>
  </tbody>
</table>
<%end%>