

  <p>
    <%= link_to t(:orders_into_stock), stocker_orders_path, :class => 'btn btn-large' %>
    <%= link_to t(:all_stocks), stocker_stocks_path, :class => 'btn btn-large' %>
  </p>
  <p>
    <%= link_to t(:my_account), user_path(current_user), :class => 'btn btn-large' %>
  </p>


  