<%if @store_users.count > 0 %>
<table class="table table-condensed">  
  <tbody>
  <% @store_users.each do |store_user| %>
    <tr>
        <td>
          <%= link_to store_user.user.name, [:maintain, store_user.user], :class => 'badge badge-warning' %>
          <%= l(store_user.role,'role_category') %>
        </td>
        <td></td>                              
    </tr>
  <% end %>
  </tbody>
</table>
<%end %>