<%if @store_users.count > 0 %>
<table class="table table-condensed">
	  <thead>
      <tr>
        <th><%= t(:user_name) %></th>
        <th><%= t(:role) %></th>
                                             
      </tr>
  </thead>   
  <tbody>
  <% @store_users.each do |store_user| %>
    <tr>
        <td><%= link_to store_user.user.name, [:maintain, store_user.user] %></td>
        <td><%= l(store_user.role,'role_category') %></td>                              
    </tr>
  <% end %>
  </tbody>
</table>
<%end %>