
  <p>
    <%= link_to t(:orders_into_stock), stocker_orders_path, :class => 'btn ' %>
    <%= link_to t(:all_stocks), stocker_stocks_path, :class => 'btn ' %>
  </p>

  <p>
    <%= link_to t(:products_maintain), stocker_products_path, :class => 'btn ' %>
    <%= link_to t(:inventories_maintain), stocker_inventories_path, :class => 'btn ' %>
  </p>