<% @roles.each do |role| %>
	<p><%=t(:belong_to_stores_as_role) + l(role.name, 'role_category')%> :
		<%= @store_users.map{|store_user|  store_user.role == role.name ? store_user.store.name : nil }.compact.join(",") %>
	</p>

<%end%>
<%= link_to '...' + t(:edit) ,new_maintain_user_store_user_path(@user) %>
