
<p>
	<%= link_to t(:member_level), maintain_lookups_path(:member_level), :class => 'btn' %>
	<%= link_to t(:store_category), maintain_lookups_path(:store_category), :class => 'btn' %>
</p>

<p>
	<%= link_to t(:expense_category), maintain_lookups_path(:expense_category), :class => 'btn' %>
	<%= link_to t(:measurement_category), maintain_lookups_path(:measurement_category), :class => 'btn' %>
</p>

