/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
 * 
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */



.content {
  background-color: #eee;
  padding: 10px;
  margin: 0 -10px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.cart_count{ }

.cart_count .num{
  position:absolute;
  top:9px;
  left:3em;
  padding:0 3px;
  margin-left:-49px;
  color:#fff;
  line-height:1.5;
  background-color:#f00;
  *margin-top:6px;
}
.cart_count .num i{
  position:absolute;
  width:0;
  height:0;
  left:14px;
  top:50%;
  margin-top:-6px;
  line-height:0;
  border-color:transparent transparent transparent #f00 ;
  border-style:dashed dashed solid dashed;
  border-width:6px 3px 5px 6px ;
  pointer-events:none;
}

input.quantity {
  width: 60px;
}

